<div class = "top-page">
  <h1 class = "top-header">
    ようこそ <span class = "title">Bookers</span> へ！
  </h1>
  
  <div class = "top-body">
    <p><span class = "title">Bookers</span>では、さまざまな書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
    
    <%= link_to "start", books_index_path, :style => "color: #464646" %>
    </div>
  </div>
</div>
