// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

// トップページ
.top-page {
  color: #464646;
}

.top-header {
  margin: 15px 20px 30px 20px;
}

.top-body {
  padding-left: 60px;
}

.top-body p {
  padding-bottom: 20px;
}

.title {
  font-family: arial black;
}


// 一覧ページ
.index {
  color: #464646;
  margin: 40px;
}

.index-top {
  font-family: arial black;
  margin-bottom: 10px;
}

table th {
  padding: 5px;
}

table td {
  padding: 5px;
}

// 新規投稿
.new {
  color: #464646;
  margin: 20px;
}

.new-top {
  font-family: arial black;
  padding-bottom: 10px;
}

// エラーメッセージ
.error {
  width: 500px;
  border: solid 2px red;
  margin-bottom: 25px;
}

.error h5 {
  color: white;
  background-color: #CC3300;
  font-family: arial black;
  padding: 5px 15px;
}

.error ul {
  padding: 30px 60px;
  background-color: #EEEEEE;
}

.error li {
  list-style-position: inside;
  font-size: 13px;
}

.field_with_errors {
  border: solid 2px red;
  width: 165px;
}
  
// 詳細ページ
.show {
  color: #464646;
  margin: 30px;
}

.show-top {
  padding-left: 60px;
}

.show-title, .show-body {
  font-family: arial black;
}

.show-top p {
  padding-bottom: 30px;
}

.show-link {
  padding: 20px;
}


// 編集ページ
.edit {
  color: #464646;
  margin: 30px;
}

.edit-top {
  font-family: arial black;
}

.edit h5, .edit p {
  padding-top: 15px;
}

.edit-link {
  padding-top: 15px;
}

// サクセスメッセージ
.notice {
  color: green;
  padding-left: 90px;
  padding-top: 25px;
}

